@using Asmp2.Shared.Model;
<h1>Now</h1>
<h3>@(currentPowerUsage?.ToString("#") ?? "-")</h3>
@code {
    private Measurement? currentMeasurement;
    private decimal? currentPowerUsage;

    [Parameter]
    public Measurement? CurrentMeasurement
    {
        get { return currentMeasurement; }
        set
        {
            currentMeasurement = value;
            currentPowerUsage = (CurrentMeasurement?.PowerUsage.Current - CurrentMeasurement?.PowerSupply.Current) * 1000;
        }
    }
}
