@using Asmp2.Shared.Model;
@using System.Globalization;
@inject HttpClient Http

<h1>Overview</h1>
<RadzenChart SeriesClick=@HandleSeriesClick style="height: 400px">
    <RadzenColumnSeries 
        Data="@statistics" 
        CategoryProperty="TimestampStart.DateTime" 
        Title="Power usage" 
        LineType="LineType.Dashed" 
        ValueProperty="PowerUsage.Total">
    </RadzenColumnSeries>
    <RadzenColumnSeries Data="@statistics"
                        CategoryProperty="TimestampStart.DateTime"
                        Title="Power supply"
                        LineType="LineType.Dashed"
                        ValueProperty="PowerSupply.Total">
    </RadzenColumnSeries>
    <RadzenColumnOptions Radius="10" />
    <RadzenCategoryAxis Formatter="(cateregory) => ((DateTime)cateregory).ToString(formatTimestampPattern, CultureInfo.InvariantCulture)"/>
    <RadzenLegend Position="LegendPosition.Bottom" />
</RadzenChart>

