@using Asmp2.Shared.Model;
@using System.Globalization;
@inject HttpClient Http

<h1>Overview</h1>

@if (usageData.Any())
{
    <RadzenChart SeriesClick="@HandleSeriesClick">
        <RadzenStackedColumnSeries Data="@supplyData"
                               CategoryProperty="Timestamp"
                               Title="Power supply"
                               LineType="LineType.Dashed"
                               ValueProperty="Value"
        Fill="#00ff00">
        </RadzenStackedColumnSeries>
        <RadzenStackedColumnSeries Data="@usageData"
                               CategoryProperty="Timestamp"
                               Title="Power usage"
                               Fill="#0000ff"
                               LineType="LineType.Dashed"
                               ValueProperty="Value">
        </RadzenStackedColumnSeries>
        <RadzenColumnOptions Radius="5" Width="20"  />
        <RadzenCategoryAxis Padding="20" />
        <RadzenCategoryAxis Formatter="(cateregory) => ((DateTime)cateregory).ToString(formatTimestampPattern, CultureInfo.InvariantCulture)" />
        <RadzenLegend Position="LegendPosition.Bottom" />
        <RadzenValueAxis Min="chartMinValue" Max="chartMaxValue" Step="chartStepSize">
            <RadzenGridLines Visible="true" />
            <RadzenAxisTitle Text="KwH" />
        </RadzenValueAxis>
    </RadzenChart>
}


