@using Asmp2.Shared.Model;
@using Microsoft.AspNetCore.SignalR.Client
@inject NavigationManager Navigation
@page "/"

<h1>@currentMeasurement?.PowerUsage.Current</h1>




@code {
    private HubConnection? hubConnection;
    private Measurement? currentMeasurement;
    private string? userInput;
    private string? messageInput;

    protected override async Task OnInitializedAsync()
    {
        hubConnection = new HubConnectionBuilder()
            .WithUrl(Navigation.ToAbsoluteUri("/measurementhub"))
            .Build();

        hubConnection.On<Measurement>("Measurement", (measurement) =>
        {  
            currentMeasurement = measurement;
            InvokeAsync(StateHasChanged);
        });

        await hubConnection.StartAsync();
    }
}