@using Asmp2.Shared.Model;
@using Microsoft.AspNetCore.SignalR.Client
@inject NavigationManager Navigation
@page "/"


<div class="row">
    <div class="col-12">
       
    </div>
</div>
<div class="row">
    <div class="col-6">
        <h1>Now</h1>
        <h3>@currentMeasurement?.PowerUsage.Current</h3>
    </div>
    <div class="col-6">
        <h1>Last hour</h1>
        Huidig stroom verbruik in grafiek
    </div>
</div>
<div class="row">
    <div class="col-12">
        <Overview/>
    </div>
</div>





@code {
    private HubConnection? hubConnection;
    private Measurement? currentMeasurement;
    private string? userInput;
    private string? messageInput;

    protected override async Task OnInitializedAsync()
    {
        hubConnection = new HubConnectionBuilder()
            .WithUrl(Navigation.ToAbsoluteUri("/measurementhub"))
            .Build();

        hubConnection.On<Measurement>("Measurement", (measurement) =>
        {  
            currentMeasurement = measurement;
            InvokeAsync(StateHasChanged);
        });

        await hubConnection.StartAsync();
    }
}